body {
    font-family: Arial, sans-serif;
    line-height: 2;
    margin: 0;
    padding: 25px;
    color: #333;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    color: #2c3e50;
    border-bottom: 2px solid #263240;
    padding-bottom: 10px;
}

p {
    text-align: center;
    color:  black;
}

a {
    color: black;
}



#container {
    display: flex;
    margin-left: 35%;
}

.incont {
    
}











}